<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Add Student</h2>

        <form method="POST">
            <label>Name:</label>
            <input type="text" name="name" required>

            <label>Age:</label>
            <input type="number" name="age" required>

            <button type="submit" class="btn">Submit</button>
        </form>

        <a href="/" class="back">Back to Home</a>
    </div>
</body>
</html>
